.main-div input{
  box-sizing: border-box;
  padding: 0.25rem 1.25rem;
  font-size: 2.4rem;
  border: 1px solid lightblue;
  width: 100%;
  text-align: center;
}

.main-div{
  position: relative;
}

@media only screen and (max-width: 992px) {
  .navbar-collapse {
   text-align: center;
   /* display: flex; */
   /* justify-content: center; */
  }
}